<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>User List</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>

	<div class="container mt-4">
		<div class="card">
			<div class="card-header d-flex justify-content-between align-items-center">
				<h2>User List</h2>
				<a href="/user/create" class="btn btn-primary">Create User</a>
			</div>
			<div class="card-body">
				<form th:action="@{/user/list}" method="get">
					<label for="filterParam">Filter by Attribute:</label>
					<div class="row">
						<div class="form-grou col-md-6">
							<input type="text" class="form-control" id="filterParam" name="filterParam"
								th:value="${filterParam}" />
						</div>
						<button type="submit" class="btn btn-primary col-md-2 ml-3">Apply Filter</button>
					</div>

				</form>
				<table class="table mt-3">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Email</th>
							<th>Phone Number</th>
							<th>Address</th>
							<th>Actions</th>
							<!-- Add headers for other fields if needed -->
						</tr>
					</thead>
					<tbody>
						<tr th:if="${#lists.isEmpty(users)}">
							<td colspan="6" class="text-center">No data available</td>
						</tr>
						<tr th:if="${not #lists.isEmpty(users)}"  th:each="user, stat : ${users}">
							 <td th:text="${stat.index + 1}"></td>
							<td th:text="${user.name}"></td>
							<td th:text="${user.email}"></td>
							<td th:text="${user.phoneNumber}"></td>
							<td th:text="${user.address}"></td>
							<td>
								<a th:href="@{'/user/edit/' + ${user.id}}" class="btn btn-warning">Edit</a>
								<a th:onclick="'deleteUser(' + ${user.id} + ')'" class="btn btn-danger">Delete</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div th:replace="common/layout"></div>
	</div>

	<!-- Add the Bootstrap modal markup at the end of the body -->
	<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" role="dialog"
		aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deleteConfirmationModalLabel">Confirm Deletion</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<p>Are you sure to delete?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<a id="deleteUserBtn" class="btn btn-danger">Delete</a>
				</div>
			</div>
		</div>
	</div>

	<script th:inline="javascript">
		function deleteUser(userId) {

			// Set the delete URL in the "Delete" button
			var deleteUrl = '/user/delete/' + userId;
			$('#deleteUserBtn').attr('href', deleteUrl);

			// Show the modal
			$('#deleteConfirmationModal').modal('show');
		}
	</script>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
